<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>170153197485-gk745ndfb40olr9vjrqep4l27c6oeqc3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.170153197485-gk745ndfb40olr9vjrqep4l27c6oeqc3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>170153197485-j260b70e81sm190n6g7do5bleeu9t2am.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDswvTduVmbcPYSa4gSwBW8atrikKZBQFM</string>
	<key>GCM_SENDER_ID</key>
	<string>170153197485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mwaibanda.WPRK</string>
	<key>PROJECT_ID</key>
	<string>wprk-c6825</string>
	<key>STORAGE_BUCKET</key>
	<string>wprk-c6825.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170153197485:ios:a0c56368d6b129c9366b24</string>
</dict>
</plist>